<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">name</th>
                    <th scope="col">designation</th>
                    <th scope="col">salary</th>
                    <th scope="col">Company</th>
                    <th scope="col">Mob</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    
                    <td>{{i.name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.salary}}</td>
                    <td>{{i.cname}}</td>
                    <td>{{i.mob}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


